Repository finnishtransportagency/viite, pull requests merged in 2018-10, with the labels that each got.

#320 VIITE-1626 - Unnecessary clicking before selecting the link/ Turhia klikkauksia linkkiä valittaessa
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/strategy/DefaultSectionCalculatorStrategy.scala
  viite-UI/src/model/ProjectCollection.js
  viite-UI/src/utils/backend-utils.js
  viite-UI/src/view/LinkPropertyLayer.js
  viite-UI/src/view/ProjectForm.js
  viite-UI/src/view/ProjectLinkLayer.js
  viite-UI/src/view/RoadLayer3.js
Labels: merge_ready

#311 Viite 1527 greyscalemaps
  gruntfile.js
  src/main/scala/fi/liikennevirasto/digiroad2/DigiroadServer.scala
  viite-UI/components/WMTSCapabilities.xml
  viite-UI/src/application.js
  viite-UI/src/view/TileMapCollection.js
Labels: merge_ready

#330 To QA Env - Viite 1527 greyscalemaps
  gruntfile.js
  src/main/scala/fi/liikennevirasto/digiroad2/DigiroadServer.scala
  viite-UI/components/WMTSCapabilities.xml
  viite-UI/src/application.js
  viite-UI/src/view/TileMapCollection.js
Labels: VIITE_OLD, merge_ready

#313 VIITE-1597 - Peruuta should not let floating be highlighted
  viite-UI/src/view/LinkPropertyLayer.js
Labels: merge_ready

#315 VIITE-1597 - TO QA ENV - Peruuta should not let floating be highlighted
  viite-UI/src/view/LinkPropertyLayer.js
Labels: VIITE_OLD, merge_ready

#312 VIITE-1620 Suravage check-box update
  viite-UI/src/view/LinkPropertyLayer.js
Labels: merge_ready

#331 To QA Env : VIITE-1620 Suravage check-box update
  viite-UI/src/view/LinkPropertyLayer.js
Labels: VIITE_OLD, duplicate, merge_ready

#317 Viite 1619 m values of the two track roads are not same in the database and in the change table
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/strategy/LinkStatusChangeTrackCalculatorStrategy.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/process/TrackCalculatorStrategySpec.scala
Labels: VIITE_OLD, merge_ready

#327 VIITE-1635 - Removing complementary links on projectlinks fetch
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/ProjectService.scala
Labels: VIITE_OLD

#332 VIITE-1626 single click fix after save
  viite-UI/src/view/ProjectEditForm.js
  viite-UI/src/view/ProjectLinkLayer.js
Labels: VIITE_OLD

#328 VIITE-1634 listen for ajorata button change
  viite-UI/src/view/ProjectEditForm.js
Labels: VIITE_OLD

#338 VIITE-1169 - Common historyn tarkistaminen projektissa: uusi /Common history in road address project: adding a new road links
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/RoadwayFiller.scala
Labels: VIITE_OLD

#341 Viite 1657 recalculation in two tracks does not adjust addr m values
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/ProjectService.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/dao/ProjectDAO.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/ProjectSectionCalculator.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/TrackSectionOrder.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/strategy/DefaultSectionCalculatorStrategy.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/ProjectServiceLinkSpec.scala
Labels: VIITE_OLD

#340 Viite 1540 working on project
  digiroad2-api-common/src/main/scala/fi/liikennevirasto/digiroad2/Digiroad2Context.scala
  digiroad2-api-viite/src/main/scala/fi/liikennevirasto/digiroad2/ViiteApi.scala
  digiroad2-oracle/sql/insert_project_link_data.sql
  digiroad2-oracle/sql/insert_road_address_data.sql
  digiroad2-oracle/src/main/resources/db/migration/V0_6__alter_project_link_geometry_collumn_type.sql
  digiroad2-oracle/src/main/resources/db/migration/V0_6__alter_project_link_table.sql
  digiroad2-oracle/src/main/resources/db/migration/V0_7__alter_sidecode_size_on_project_link.sql
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/ProjectService.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/ProjectValidator.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/RoadAddressLinkBuilder.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/RoadAddressService.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/dao/CalibrationPointDAO.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/dao/LinearLocationDAO.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/dao/ProjectDAO.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/dao/ProjectLinkDAO.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/dao/RoadwayDAO.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/model/ProjectAddressLink.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/model/RoadAddressLink.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/ProjectDeltaCalculator.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/RoadAddressFiller.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/RoadwayAddressMapper.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/process/strategy/TrackCalculatorStrategy.scala
  digiroad2-viite/src/main/scala/fi/liikennevirasto/viite/util/AssetDataImporter.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/ProjectServiceLinkSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/ProjectServiceSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/ProjectServiceTRSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/ProjectValidatorSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/RoadAddressLinkBuilderSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/RoadAddressServiceSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/dao/CalibrationPointDAOSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/dao/LinearLocationDAOSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/dao/ProjectDAOSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/dao/ProjectLinkDAOSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/dao/ProjectReservedPartDAOSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/dao/RoadwayChangesDAOSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/process/ProjectDeltaCalculatorSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/process/ProjectSectionCalculatorSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/process/RoadAddressSplitMapperSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/process/RoadwayFillerSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/process/RoadwayMapperSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/process/TrackCalculatorStrategySpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/util/DataFixture.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/util/ProjectLinkSplitterSpec.scala
  digiroad2-viite/src/test/scala/fi/liikennevirasto/viite/util/package.scala
  viite-UI/src/application.js
  viite-UI/src/map/LinkPropertyMarker.js
  viite-UI/src/model/ProjectCollection.js
  viite-UI/src/utils/backend-utils.js
  viite-UI/src/view/LinkPropertyLayer.js
  viite-UI/src/view/ProjectEditForm.js
  viite-UI/src/view/ProjectLinkLayer.js
  viite-UI/src/view/ProjectLinkStyler.js
  viite-UI/src/view/RoadLayer.js
  viite-UI/src/view/RoadLinkStyler.js
  viite-UI/test/integration-tests.html
  viite-UI/tmpl/index.html
Labels: merge_ready
